/* second section responsive */
@media (max-width: 1140px){
  .container-1{
  flex-wrap: wrap;
  justify-content: center;
  }
}

@media (max-width: 1040px){
  .background-4{
    margin-top: 150px;
  }
}

@media (max-width: 933px){
  .list{
    display: none;
  }
  .burger-icon{
    display: block;
    color: white;
    font-size: 40px;
  }
}

@media (max-width:817px){
  .box-wraper{
    justify-content: center;
  }
}


@media (max-width:690px){
  .img-box{
    max-width: 315px;
    width: 100%;
    margin-top: 50px;
  }
  .img-box img{
      max-width: 315px;
      width: 100%;
  }
  .text-box h3, p{
    max-width: 315px;
  }
  .blue-box{
    margin-left: 10px;
  }
  .box-wraper-1{
    justify-content: center;
  }
 
}


@media (max-width:647){
  .reasons-container{
    justify-content: center;
  }
}

@media (max-width: 600px){
  .blue-box{
    max-width: 270px;
    width: 100%;
  }
  .para-padding-bottom{
    max-width: 200px;
    width: 100%;
  }
  .golden-button{
    max-width: 200px;
    width: 100%;
    margin-left: 0px;
  }
  .margin-blue-box{
    padding-left: 10px;
  }

}

@media (max-width:550px){
  .par-box{
    max-width: 300px;
    width: 100%;
    padding-left: 5px;
  }

  .par-box h1 {
    padding: 5px;
    max-width: 300px;
    width: 100%;
    font-size: 30px;
   }

   
  .par-box h4 {
    padding: 5px;
    max-width: 300px;
    width: 100%;
   }

   .contact-us-box{
     margin-left: 5px;
     max-width: 300px;
     width: 100%;
   }
 
 
  .par-box p{
    max-width: 300px;
    width: 100%;
    padding: 5px;
   }

  .heading-h4::before{
    display: none;
    padding-left: 0px;
  }

  .para-style{
    max-width: 300px;
    width: 100%;
    padding-left: 10px;

  }
}


@media(max-width: 450px){
  .black-box-heading{
    max-width: 315px;
    text-align: left;
  }
}



@media (max-width: 350px){
  .reasons-box{
    max-width: 320px;
    width: 100%;
  }
  .reasons-box p{
    max-width: 320px;
    width: 100%;
  }
  .small-box-1{
    max-width: 320px;
    width: 100%;
  }
  .icon{
    max-width: 320px;
    width: 100%;
  }
  .icon img{
    width: 100%;
  }

  .footer-container-1{
    max-width: 300px;
    width: 100%;
  }

  .footer-list{
    max-width: 300px;
    width: 100%;
  }

  .para-box-3{
    max-width: 300px;
    width: 100%;
  }

  .para-style-2{
    max-width: 200px;
    width: 100%;
  }
  
  .list-heading-2{
    max-width: 200px;
    width: 100%;
  }

}



